* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 200px 1fr 2fr;
    gap: 30px;
}

.grid > div {
    background-color: tomato;
    min-height: 100px;
}